body {
    background-image: url("pub/img/bgcolor.png");
    background-position: left top;
    background-repeat: repeat;

}

.container > section {
    margin-top: 3em;
    margin-bottom: 3em;
}

.container > section > h1:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 1em;
    padding-bottom: 1em;
}